Django==5.2.4
djangorestframework==3.16.0
django-cors-headers==4.7.0
python-decouple==3.8
Pillow==11.3.0
django-filter==2.4.0
djangorestframework-simplejwt==5.5.0
pypdf
langchain
faiss-cpu
numpy
spacy
neo4j
sentence-transformers
google-generativeai
